<!DOCTYPE html>
<html>
<head>
  <title>Rss2trello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>RSS 2 Trello </h1>
<p class="notice"><%= flash["notice"] %></p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<%- unless current_user %>
	<h1><a href="<%= user_omniauth_authorize_path(:trello)  %>">Get Started!</a></h1>
<%- end %>
</body>
</html>
